.input-area {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;
    border: none;
    box-shadow: none;
    background-color: inherit;
}
.login-border{
    width: 850px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid var(--color-main-puple2);
    border-radius: 20px;
}

.form-label {
    font-size: 2rem;
    line-height: 1.5rem;
}

.form-control {
    width: 100%;
    /*max-height: 3rem;*/
    /*height: 100%;*/
    height: 3rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid var(--color-main-puple1);
    border-radius: 0.2rem;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #c59eff;
    box-shadow: 0 0 0 .25rem #8b3dff40;
    outline: 0;
}

.feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
}

.feedback-valid {
    color: #8b3dff;
}

.feedback-invalid {
    color: #DC3545;
}

.input-valid {
    border-color: #8b3dff;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%238b3dff' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.input-valid:focus {
    border-color: #8b3dff;
    box-shadow: 0 0 0 0.25rem #8b3dff40;
}


.input-invalid {
    border-color: #DC3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.input-invalid:focus {
    border-color: #DC3545;
    box-shadow: 0 0 0 0.25rem #DC354540;
}

.oauth-login {
    width: 366px;
    height: 90px;
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
}
.oauth-box{
    width: 830px;
    height: 90px;
    border-radius: 12px;
    font-size: 2.5rem;
}
.oauth-box > a{
    color: var(--color-main-white);
    text-decoration: none;
}
.oauth-box:hover > a{
    color: var(--color-main-black);
}
.oauth-kakao {
    background-image: url("/image/oauth/kakao_login.png");
    background-color: transparent;
}

.oauth-naver {
    background-image: url("/image/oauth/naver_login.png");
    background-color: transparent;
}

.login-box{
    width: 22.5rem;
    height: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box-text{
    font-weight: 600;
    font-size: 3rem;
    color: var(--color-main-black) ;
    z-index: 1;
}
.login-box-box {
    width: 100%;
    height: 50%;
    background-color: var(--color-main-puple1);
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.input-text{
    align-items: start !important;
    font-size: 2rem;
    width: 850px;
    padding: 10px;
}
.toggle-password{
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent !important;
    background-size: contain ;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 0rem;
    right: 1rem;
}
.toggle-close-eye{
    background-image: url("/image/oauth/eye off.svg");

}
.toggle-open-eye{
    background-image: url("/image/oauth/eye.svg");
    display: none;
}
.check-area{
    width: 45.5rem;
}
#check-all{
    width: 1.5rem;
    height: 1.5rem;
}
.checkbox{
    width: 1.5rem;
    height: 1.5rem;
}
/* 체크박스 체크시 채워지는 색을 커스텁 해보고 싶습니다. */
input:checked {
    content: "";
    cursor: pointer;
    background-color: var(--color-main-puple1) !important;
}
/* 여기 부터는 인증 창 */
.all-check{
    width: 830px;
}
.title-input{
    font-size: 1.5rem;
}
.check-title{
    display: flex;
    align-items: center;
    font-size:  1.5rem;
    gap: 1rem;
}
.check-title  span{
    color: var(--color-main-puple1) !important;
}
.textBox{
    height: 150px;
    width: calc(830px - 2rem);
    border: 1px solid var(--color-main-puple1);
    border-radius: 1rem;
    padding: 1rem;
    overflow: auto;
}
