<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/input.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/user/signup-terms.js}"></script>
</th:block>

<body>
<div layout:fragment="content">
        <div class="area  p-4 w-100 input-area pt-6 pb-5">
            <div class="login-border input-area">
                <div class="page-title title-input">회원가입 - 동의</div>
                <div class="check-title all-check">
                    <p><span class="">[ 전체 ]</span>전체 동의하기</p>
                    <input class="checkbox" type="checkbox" id="">
                </div>
                <div class="">
                    <div class="check-title">
                        <p><span>[ 필수 ]</span>개인정보 수집 및 이용</p>
                        <input class="checkbox" type="checkbox" id="">
                    </div>
                    <div class="textBox">
                        개인정보 수집 이용
                    </div>
                </div>
                <div class="">
                    <div class="check-title">
                        <p><span>[ 필수 ]</span>컴마 이용약관</p>
                        <input class="checkbox" type="checkbox" id="">
                    </div>
                    <div class="textBox">
                        컴마 이용약관
                    </div>
                </div>
                <div class="">
                    <div class="check-title">
                        <p><span>[ 선택 ]</span>실명 인증된 아이디 가입</p>
                        <input class="checkbox" type="checkbox" id="">
                    </div>
                    <div class="textBox">
                        실명 인증된 아이디 가입
                    </div>
                </div>


                <form th:action="@{/signup-credentials}" method="get" class="pt-6">
                    <button id="join-btn"  class="btn oauth-box">다음으로</button>
                </form>
            </div>
        </div>
</div>
</body>
</html>