<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/user/input.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/user/validation.js}"></script>
    <script th:src="@{/js/user/signup.js}"></script>
</th:block>

<body>
<div layout:fragment="content">
        <div class="area input-area mt-6 p-4 w-100">
            <div class="login-border input-area">
                <img class="brand-logo w-25" src="/image/logo.svg" alt="comma_logo">
                <div class="page-title login-box">
                    <p class="login-box-text">회원가입</p>
                    <div class="login-box-box"></div>
                </div>
                <form id="signup">
                    <div class="input-area input-text">
                        <label for="signup-nickname" class="form-label">
                            별명
                        </label>
                        <input type="text" class="form-control" id="signup-nickname" required>
                        <div class="feedback"></div>
                    </div>

                    <div class="input-area input-text">
                        <label for="signup-userId" class="form-label">
                            아이디
                        </label>
                        <input type="text" class="form-control" id="signup-userId" required>
                        <div class="feedback"></div>
                    </div>

                    <div class="input-area input-text">
                        <label for="signup-password" class="form-label">
                            비밀번호
                        </label>
                        <button class="toggle-password toggle-close-eye" type="button"></button>
                        <button class="toggle-password toggle-open-eye" type="button"></button>
                        <input type="password" class="form-control" id="signup-password" required>
                        <div class="feedback"></div>
                    </div>

                    <div class="input-area input-text">
                        <label for="signup-confirmPassword" class="form-label">
                            비밀번호 확인
                        </label>
                        <button class="toggle-password toggle-close-eye" type="button"></button>
                        <button class="toggle-password toggle-open-eye" type="button"></button>
                        <input type="password" class="form-control" id="signup-confirmPassword" required>
                        <div class="feedback"></div>
                    </div>
                </form>
                <button id="signup-btn" class="btn oauth-box">회원가입</button>
            </div>
        </div>
    </div>
</body>
</html>