<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<!--<th:block layout:fragment="css">-->
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
<!--</th:block>-->

<!--<th:block layout:fragment="script">-->
<!--    <script th:src="@{/js/common.js}"></script>-->
<!--</th:block>-->

<body>
<div layout:fragment="content">
        <div class="area mt-4 p-4 w-100">
            <h1 class="page-title">이용약관</h1>
            이용약관
        </div>
</div>
</body>
</html>