<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/config :: config}"></head>

<body>
<div th:replace="~{fragments/nav :: nav}"></div>

<div class="ad-area left">
    광고 영역 1
</div>

<div class="container">
    <div class="d-flex mt-4">
        <div class="area w-25 m-2">

            <div th:if="${session.userKey}">
                <div th:text="${user.nickname}">user.nickname</div>
                <div th:text="'레벨: ' + ${user.level}">user.level</div>
                <div th:text="'경험치: ' + ${user.exp}">user.experience</div>
                <div th:text="'캐쉬: ' + ${user.cash}">user.cash</div>
                <div th:text="'포인트: ' + ${user.point}">user.points</div>
                <button onclick="navigateToPage('info')">내정보</button>
                <button onclick="logout()">로그아웃</button>
            </div>
            <div th:unless="${session.userKey}">
                <button onclick="navigateToPage('login')">로그인</button>
                <button onclick="navigateToPage('signup-verify')">회원가입</button>
            </div>

            <th:block th:each="item, iterStat : ${category}">
                <div th:if="${iterStat.index == 0 or item.titleGroup != category[iterStat.index-1].titleGroup}" th:text="${item.titleGroup}"></div>
                <div th:text="${item.title}" th:data-location="${shelter.url+'/'+item.categoryKey}" class="location">Title</div>
            </th:block>

            <div th:if="${addon}">추가 기능</div>
            <th:block th:each="item, iterStat : ${addon}">
                <div th:text="${item.title}" th:data-location="${shelter.url+'/addon/'+item.url}" class="location">Title</div>
            </th:block>

        </div>
        <div class="w-75">
            <div class="area m-2">
                <h1 class="page-title location" th:text="${shelter.name}" th:data-location="${shelter.url}">shelter</h1>
                커뮤니티 메뉴 수정 버튼
                <div th:if="${isShelterLike}" class="isShelterLike">♥</div>
                <div th:unless="${isShelterLike}" class="isShelterLike">♡</div>
            </div>
            <th:block layout:fragment="content" class="area m-2">

            </th:block>
        </div>
    </div>
    <input type="hidden" id="shelterKey" th:value="${shelter.shelterKey}">
</div>

<div class="ad-area right">
    광고 영역 2
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<div id="alert-container"></div>
</body>
</html>