<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/shelter}">

<!--<th:block layout:fragment="css">-->
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
<!--</th:block>-->

<th:block layout:fragment="script">
    <script th:src="@{/js/shelter/shelter.js}"></script>
    <script th:src="@{/js/shelter/post-list.js}"></script>

</th:block>

<body>
<div layout:fragment="content">
    <div class="area m-2">
        태그 리스트  / <button class="location" th:data-location="${shelter.url}+'/write'">글작성</button>
    </div>
    <div class="area m-2">
        게시글 리스트
    </div>
</div>
</body>
</html>