<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/shelter}">

<!--<th:block layout:fragment="css">-->
<!--    <link rel="stylesheet" th:href="@{/css/common.css}">-->
<!--</th:block>-->

<th:block layout:fragment="script">
    <script th:src="@{/js/shelter/shelter.js}"></script>
    <script th:src="@{/js/shelter/post-content.js}"></script>
    <script>
        var $postKey = [[${postKey}]];
    </script>
</th:block>

<body>
<div layout:fragment="content">
    게시글 내용
    <div th:text="${posts.postKey}"></div>
    <div th:text="${posts.title}"></div>  <!--제목-->
    <div th:text="${posts.views}"></div>  <!--조회수-->
    <div th:text="${posts.createdAt}"></div><!--작성일-->
    <div th:text="${posts.nickname}"></div><!--작성자 별명-->
    <div th:text="${posts.tagTitle}"></div><!--카테고리 태그-->
    <div th:text="${posts.postLikeCount}"></div><!--게시글 좋아요 카운트-->
    <div th:text="${posts.commentCount}"></div><!--게시글 댓글 카운트-->
    <div th:text="${posts.content}"></div><!--내용-->
    <div th:text="${posts.userKey}"></div>

    <button th:if="${posts.userKey == session.userKey}"> 게시글 수정 버튼</button>
    <button th:if="${posts.userKey == session.userKey}"> 게시글 삭제 버튼</button>
    <!--로그인 유저 게시글 좋아요 여부 isPostLike -->
    <div th:if="${isPostLike}" class="isPostLike">♥</div>
    <div th:unless="${isPostLike}" class="isPostLike">♡</div>

    <button class="report"> 게시글 신고 버튼</button>

    유저 상세정보
    <div th:text="${users.userKey}"></div>
    <div th:text="${users.level}"></div> <!--레벨-->
    <div th:text="${users.exp}"></div> <!--경험치-->
    <div th:text="${users.requireExp}"></div> <!--다음 레벨까지 필요한 경험치-->
    <div th:text="${users.cash}"></div> <!--캐쉬-->
    <div th:text="${users.point}"></div> <!--포인트-->
    <div th:text="${users.nickname}"></div> <!--작성자 닉네임-->

    유저 뱃지
    <div th:each="item : ${userBadges}">
        <span th:text="${item.userBadgeKey}"></span>
        <span th:text="${item.badgeKey}"></span>
        <span th:text="${item.userKey}"></span>
        <span th:text="${item.name}"></span>
        <span th:text="${item.file}"></span>
        <span th:text="${item.tier}"></span>
        <object type="image/svg+xml" th:data="${'/image/badge/'+ item.tier + '/' + item.file}" width="32px" height="32px">
            Your browser does not support SVG
        </object>
    </div>
    댓글작성
    <div class="commentArea">
        <input type="text" class="content" data-key="0">
        <button class="comment-btn">댓글작성</button>
    </div>
    댓글
    <div class="comment" th:data-key="${item.commentKey}" th:each="item, itemstat : ${comments}">
        <span th:text="${item.commentKey}"></span>
        <span th:text="${item.userKey}"></span>
        <span th:text="${item.parentCommentKey}"></span>
        <span th:if="${item.commentKey != item.parentCommentKey}">대댓글</span>
        <span th:text="${item.content}"></span>
        <span th:text="${item.createdAt}"></span>
        <span th:text="${item.commentLikeCount}"></span>
        <span th:text="${item.nickname}"></span>
        <button th:if="${item.userKey == session.userKey}"> 댓글 수정 버튼</button>
        <button th:if="${item.userKey == session.userKey}"> 댓글 삭제 버튼</button>

        <div th:if="${isCommentLikeList[itemstat.index]}" class="isCommentLike">♥</div>
        <div th:unless="${isCommentLikeList[itemstat.index]}" class="isCommentLike">♡</div>

        <button class="report"> 댓글 신고 버튼</button>
        <button class="commentReply"> 답글 버튼</button>
        <div class="commentArea" style="display: none">
            <input type="text" class="content" th:data-key="${item.commentKey}">
            <button class="comment-btn">댓글작성</button>
        </div>



    </div>
</div>
</body>
</html>