<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/shelter}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/shelter/shelter.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/shelter/shelter.js}"></script>
</th:block>

<body>
<div layout:fragment="content">
    <div class="shelter-content-area">
        <div class="s-c-main s-c">
            <a href="#" class="">전체</a>
            <a href="#" class="">공지</a>
            <a href="#" class="">업데이트</a>
            <a href="#" class="">이벤트</a>
        </div>
        <div class="s-c-box s-c">
            <a href="#" class=""></a>
            <a href="#" class=""></a>
            <a href="#" class=""></a>
        </div>
        <div class="s-c-bogi s-c">
            <p>쉼표 최신 게싯글</p>
            <a href="#">더보기</a>
        </div>
        <!--  쉼표 최신 게싯글 10개 까지      -->
        <div class="s-c-grid s-c">
            <a href="#">
        <!--          게시글 제목       -->
                <span class="">(제목)</span>
                <div class="">
        <!--        뱃지  (임시)      -->
                    <img src="/image/badge/diavector.svg" alt="">
        <!--        닉네임  (임시)          -->
                    <div class="">(닉네임)</div>
        <!--        조회수  (임시)          -->
                    <div class="">VIEW :(조회수)</div>
                </div>
            </a>
            <a href="#">
                <!--          게시글 제목       -->
                <span class="">(제목)</span>
                <div class="">
                    <!--        뱃지  (임시)      -->
                    <img src="/image/badge/diavector.svg" alt="">
                    <!--        닉네임  (임시)          -->
                    <div class="">(닉네임)</div>
                    <!--        조회수  (임시)          -->
                    <div class="">VIEW :(조회수)</div>
                </div>
            </a>
        </div>
    </div>

<!--    커뮤니티 공지 바로가기 버튼-->
<!--    커뮤니티 정보&질문 바로가기 버튼-->
<!--    커뮤니티 자유게시판 바로가기 버튼-->
<!--    커뮤니티 바로가기 버튼 1~4-->
<!--    커뮤니티 바로가기 게시글 리스트 10개-->
</div>
</body>
</html>